/*===========================
    1. COMMON css 
==========================*/
@import url(font.css);

html{
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #f67280;
  box-shadow:  20px 20px 60px #d1616d,
               -20px -20px 60px #ff8393;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 50px;
  background: #FACAD2;
  box-shadow:  20px 20px 60px #d5acb3,
               -20px -20px 60px #ffe8f2;
}

::selection {
  background-color: #F79722;
  color: #fff;
}

body {
  font-family: "IRANSansWeb", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #121212;
  direction: rtl;
  overflow-x: hidden !important;

}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #121212;
  margin: 0px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #121212;
  margin: 0px;
}


/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid transparent;
  padding: 0 32px;
  font-size: 16px;
  line-height: 48px;
  color: #f67280;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
}


@media (max-width: 767px) {
  .main-btn {
    font-size: 14px;
    padding: 0 20px;
    line-height: 40px;
  }
}

/*===== All Section Title Style =====*/
.section-title .title {
  font-size: 50px;
  font-weight: 600;
  line-height: 55px;
  color: #121212;
  text-align: center;
}

@media (max-width: 767px) {
  .section-title .title {
    font-size: 30px;
    line-height: 40px;
  }
}

.section-title .text {
  font-size: 16px;
  line-height: 24px;
  color: #6c6c6c;
  margin-top: 24px;
}

/*===========================
    2.HEADER css 
===========================*/
/*===== NAVBAR ONE =====*/
.navgition {
  padding: 10px 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navgition.navgition-transparent {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.navgition.sticky {
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navgition .navbar {
  position: relative;
  padding: 0;
}

.navgition .navbar .navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #121212;
  margin: 5px 0;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navgition .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.navgition .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navgition .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navgition .navbar .navbar-collapse {
    position: absolute;
    top: 116%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 8;
    padding: 10px 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  }
}

@media (max-width: 767px) {
  .navgition .navbar .navbar-collapse {
    position: absolute;
    top: 116%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 8;
    padding: 10px 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  }
}

.navgition .navbar .navbar-nav .nav-item {
  margin: 0 16px;
  position: relative;
}

nav {
  direction: rtl;
}

.navgition .navbar .navbar-nav .nav-item a {

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding: 26px 0;
  color: #121212;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navgition .navbar .navbar-nav .nav-item a {
    padding: 10px 0;
    display: block;
  }
}

@media (max-width: 767px) {
  .navgition .navbar .navbar-nav .nav-item a {
    padding: 10px 0;
    display: block;
  }
}

.navgition .navbar .navbar-nav .nav-item a::before,
.navgition .navbar .navbar-nav .nav-item a::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 4px;
  background-color: #f67280;
  left: 50%;
  margin: 0 2px;
  bottom: 14px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .navgition .navbar .navbar-nav .nav-item a::before,
  .navgition .navbar .navbar-nav .nav-item a::after {
    display: none;
  }
}

@media (max-width: 767px) {

  .navgition .navbar .navbar-nav .nav-item a::before,
  .navgition .navbar .navbar-nav .nav-item a::after {
    display: none;
  }
}

.navgition .navbar .navbar-nav .nav-item a::after {
  left: auto;
  right: 50%;
}

.navgition .navbar .navbar-nav .nav-item.active>a,
.navgition .navbar .navbar-nav .nav-item:hover>a {
  color: #f67280;
}

.navgition .navbar .navbar-nav .nav-item.active>a::before,
.navgition .navbar .navbar-nav .nav-item.active>a::after,
.navgition .navbar .navbar-nav .nav-item:hover>a::before,
.navgition .navbar .navbar-nav .nav-item:hover>a::after {
  opacity: 1;
}


.navgition .navbar .navbar-social span {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 14px;
}

.navgition .navbar .navbar-social ul li {
  display: inline-block;
  margin-right: 5px;
}

/*       
      .navgition .navbar .navbar-social ul li a {
        font-size: 24px;
        font-weight: 700;
        border-radius: 4px;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s; } */

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  font-size: 24px;
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
  top: 90%;
  left: -110%;
}

.social-btns .btn .fa {
  transform: scale(0.8);
}

.social-btns .btn.whatsapp:before {
  background-color: #4dc247;
}

.social-btns .btn.whatsapp .fa {
  color: #4dc247;
}

.social-btns .btn.instagram:before {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.social-btns .btn.instagram .fa {
  color: #fff;
}

.social-btns .btn.telegram:before {
  background-color: #0088cc;
}

.social-btns .btn.telegram .fa {
  color: #0088cc;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}

.social-btns .btn:focus .bi,
.social-btns .btn:hover .bi {
  color: #fff !important;
  transform: scale(1);
}

.social-btns {
  text-align: center;
}

.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 10px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
}

.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
}

.social-btns .btn .bi {
  font-size: 25px;
  vertical-align: middle;
}

.header-hero {
  height: 850px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero {
    height: 700px;
  }
}

@media (max-width: 767px) {
  .header-hero {
    height: 650px;
  }
}

.header-hero::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
  background: -o-linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
  background: linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
}

.header-hero .header-content {
  padding-top: 195px;

  position: relative;
  z-index: 9;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero .header-content {
    padding-top: 130px;
  }
}

@media (max-width: 767px) {
  .header-hero .header-content {
    padding-top: 120px;
  }
}

.header-hero .header-content .header-title {
  font-size: 34px;
  line-height: 60px;
  color: #0e0d0d;
  font-weight: 600;
  font-family: "IRANSansWeb";
}

@media (max-width: 767px) {
  .header-hero .header-content .header-title {
    font-size: 30px;
    line-height: 40px;
  }
}

.header-hero .header-content .text {
  font-size: 20px;
  line-height: 32px;
  color: #6c6c6c;
  margin-top: 16px;
}

@media (max-width: 767px) {
  .header-hero .header-content .text {
    font-size: 16px;
    line-height: 24px;
  }
}

.header-hero .header-content .header-btn {
  margin-top: 22px;
}

.header-hero .header-content .header-btn li {
  display: inline-block;
  margin: 10px 10px 0;
}

.header-hero .header-content .header-btn li a.main-btn {
  border-radius: 50px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: 0;
  line-height: 50px;
  transition: all 0.5s ease;
}

.header-hero .header-content .header-btn li a.main-btn i {
  margin-left: 5px;
}

.header-hero .header-content .header-btn li a.main-btn.btn-one {
  color: #fff;
  animation: pulse_01 2s ease infinite;
}

.header-hero .header-content .header-btn li a.main-btn.btn-one:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  animation: none;
}

.header-hero .header-content .header-btn li a.main-btn.btn-one::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, hsla(354, 88%, 71%, 1) 0%, hsla(331, 74%, 68%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(354, 88%, 71%, 1) 0%, hsla(331, 74%, 68%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(354, 88%, 71%, 1) 0%, hsla(331, 74%, 68%, 1) 100%);  background-position: right center;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

@keyframes pulse_01 {
  0% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);

  }
}


.header-hero .header-content .header-btn li a.main-btn.btn-one:hover::before {

  background: linear-gradient(360deg, hsla(354, 88%, 71%, 0.7) 20%, hsla(331, 74%, 68%, 1) 100%);
  background: -moz-linear-gradient(360deg, hsla(354, 88%, 71%, 0.7) 20%, hsla(331, 74%, 68%, 1) 100%);
  background: -webkit-linear-gradient(360deg, hsla(354, 88%, 71%, 0.7) 20%, hsla(331, 74%, 68%, 1) 100%);  background-position: left center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;


}

.header-hero .header-content .header-btn li a.main-btn.btn-two:hover {
  -webkit-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
}

.header-hero .header-shape img {
  width: 100%;
}

.main-logo {
  width: 50px;
}

/*===========================
      3.SERVICES css 
===========================*/
.services-area {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .services-area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .services-area {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.services-content .services-icon i {
  font-size: 64px;
  color: #0067f4;
}

.services-content .services-content {
  padding-left: 15px;
}

@media (max-width: 767px) {
  .services-content .services-content {
    padding-left: 0;
    padding-top: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .services-content .services-content {
    padding-left: 15px;
    padding-top: 0;
  }
}

.services-content .services-content .services-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #121212;
}

.services-content .services-content .text {
  font-size: 14px;
  line-height: 20px;
  color: #121212;
  margin-top: 8px;
}

.services-image {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .services-image {
    width: 34%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .services-image {
    position: relative;
    width: 720px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .services-image {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 16px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .services-image {
    position: relative;
    width: 540px;
    margin: 0 auto;
  }
}

.services-image .image {
  max-width: 580px;
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .services-image .image {
    margin: 0 auto;
    padding-top: 50px;
  }
}

@media (max-width: 767px) {
  .services-image .image {
    margin: 0 auto;
    padding-top: 50px;
  }
}

.services-image .image img {
  width: 100%;
}

/*===========================
      4.PRICING css 
===========================*/
.pricing-area {

  padding-top: 120px;
  padding-bottom: 200px;
  border-radius: 40px;
  margin-bottom: 120px;
  background: linear-gradient(145deg, #dcddde, #ffffff);
  box-shadow: 19px 19px 38px #929494,
    -19px -19px 38px #ffffff;

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pricing-area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .pricing-area {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.single-pricing {
  /* -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); */
  padding: 24px 20px 50px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 29px 29px 58px #bebebe,
    -29px -29px 58px #ffffff;
  text-align: center;
  align-items: center !important;
}


.single-pricing .pricing-header .sub-title {
  font-size: 30px;
  font-weight: 700;
  color: #121212;
  position: relative;
  padding-bottom: 12px;
  font-family: "IRANSansWeb";

}

.single-pricing .pricing-header .sub-title::before {
  position: absolute;
  content: '';
  width: 72px;
  height: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2bdbdc;
  margin: 0 auto;

}

.single-pricing .pricing-header .price {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #121212;
  margin-top: 12px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .single-pricing .pricing-header .price {
    font-size: 50px;
    margin-top: 16px;
  }
}

@media (max-width: 767px) {
  .single-pricing .pricing-header .price {
    font-size: 50px;
    margin-top: 16px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-pricing .pricing-header .price {
    font-size: 64px;
    margin-top: 32px;
  }
}

.single-pricing .pricing-header .year {

  margin-top: 3px;
}

.single-pricing .pricing-list {
  margin-top: 40px;
}

.single-pricing .pricing-list ul li {
  font-size: 16px;
  line-height: 24px;
  color: #121212;
  margin-top: 16px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .single-pricing .pricing-list ul li {
    font-size: 14px;
    margin-top: 12px;
  }
}

@media (max-width: 767px) {
  .single-pricing .pricing-list ul li {
    font-size: 14px;
    margin-top: 12px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-pricing .pricing-list ul li {
    font-size: 16px;
    margin-top: 16px;
  }
}

.single-pricing .pricing-list ul li i {
  color: #0067f4;
  margin-right: 8px;
}

.single-pricing .pricing-btn {
  margin-top: 42px;
}

.single-pricing .pricing-btn .main-btn {
  background-color: #0067f4;
  border-radius: 50px;
  color: #fff;
  border-color: #0067f4;
}

.single-pricing .pricing-btn .main-btn:hover {
  background-color: #005ad5;
  border-color: #005ad5;
}

.single-pricing .buttom-shape {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 101%;
}

.single-pricing.pro .pricing-header .sub-title::before {
  right: 0;
  left: 0;
  background-color: #0067f4;
}

.single-pricing.pro .pricing-baloon {
  position: absolute;
  top: 0;
  right: -78px;
  width: 156px;
}

.single-pricing.enterprise .pricing-header .sub-title::before {
  right: 0;
  left: 0;
  background-color: #4da422;

}

.single-pricing.enterprise .pricing-flower {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 144px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .single-pricing.enterprise .pricing-flower {
    width: 110px;
  }
}

@media (max-width: 767px) {
  .single-pricing.enterprise .pricing-flower {
    width: 110px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-pricing.enterprise .pricing-flower {
    width: 144px;
  }
}

.single-pricing.enterprise .pricing-flower img {
  width: 100%;
}

/*===========================
    5.CALL TO ACTION css 
===========================*/
.call-to-action {
  margin-top: 50px;
  /* border-radius: 49px;
background: #0067f4;
box-shadow: inset 31px 31px 62px #002a64,
            inset -31px -31px 62px #00a4ff; */
  position: relative;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .call-action-image {
    position: relative;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .call-action-image {
    position: relative;
    width: 100%;
  }
}

.call-action-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.call-action-content {
  max-width: 560px;

  text-align: center !important;
}

@media (max-width: 767px) {
  .call-action-content {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.call-action-content .call-title {
  font-size: 50px;
  font-weight: 600;
  color: #0e0d0d;
  line-height: 55px;
  font-family: "IRANSansWeb";
  margin-top: 25px;
  padding-top: 30px;
}

@media (max-width: 767px) {
  .call-action-content .call-title {
    font-size: 28px;
    line-height: 38px;
  }
}

.call-action-content {
  margin-top: 16px;
  border-radius: 50px;
  background: linear-gradient(145deg, #e1b6bd, #ffd8e1);
  box-shadow:  20px 20px 60px #d5acb3,
               -20px -20px 60px #ffe8f2;
  margin-bottom: 50px;
}

.call-action-content .text {
  font-size: 18px;
  padding: 30px;
  color: #fff;
  line-height: 30px;
  font-weight: 400;

}

.img-chair img{

margin-left: 1000px;
margin-top: 120px;


}
.img-book img{
  margin-left: 60px;
  margin-top: -260px;
}

@media (max-width: 767px) {
  .call-action-content .text {
    font-size: 14px;
  }
}

.call-action-content .call-newsletter {
  max-width: 410px;
  position: relative;
  margin: 24px auto 0;
}

.call-action-content .call-newsletter i {
  font-size: 26px;
  color: #0067f4;
  position: absolute;
  left: 18px;
  top: 15px;
}

.call-action-content .call-newsletter input {
  width: 100%;
  height: 56px;
  border: 0;
  border-radius: 50px;
  background-color: #fff;
  padding-left: 60px;
  padding-right: 30px;
}

.call-action-content .call-newsletter input::placeholder {
  opacity: 1;
  color: #6c6c6c;
}

.call-action-content .call-newsletter input::-moz-placeholder {
  opacity: 1;
  color: #6c6c6c;
}

.call-action-content .call-newsletter input::-moz-placeholder {
  opacity: 1;
  color: #6c6c6c;
}

.call-action-content .call-newsletter input::-webkit-input-placeholder {
  opacity: 1;
  color: #6c6c6c;
}

.call-action-content .call-newsletter button {
  border: 0;
  border-radius: 50px;
  height: 48px;
  padding: 0 32px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: #0067f4;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
  .call-action-content .call-newsletter button {
    position: relative;
    right: auto;
    margin-top: 15px;
    background-color: #fff;
    color: #0067f4;
  }
}

.call-action-content .call-newsletter button:hover {
  background-color: #005ad5;
  color: #fff;
}

/*===========================
    6.CALL TO ACTION css 
===========================*/
.contact-area {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 100px;
  border-radius: 103px;
background: linear-gradient(225deg, #ff8c9d, #e67684);
box-shadow:  -32px 32px 56px #d46d7a,
             32px -32px 56px #ff99ac;

}



@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .contact-area {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.form-group {
  margin: 0;
}

p.form-message.success,
p.form-message.error {
  font-size: 16px;
  color: #121212;
  background: #cbced1;
  padding: 10px 15px;
  margin-left: 15px;
  margin-top: 15px;
}

p.form-message.error {
  color: #f00;
}

.contact-form .single-form {
  margin-top: 30px;
}

.contact-form .single-form textarea,
.contact-form .single-form input {
  width: 100%;
  height: 56px;
  border: 1px solid #cbced1;
  border-radius: 5px;
  padding: 0 25px;
  background-color: #fff;
  font-size: 16px;
}

.contact-form .single-form textarea::placeholder,
.contact-form .single-form input::placeholder {
  opacity: 1;
  color: #a4a4a4;
}

.contact-form .single-form textarea::-moz-placeholder,
.contact-form .single-form input::-moz-placeholder {
  opacity: 1;
  color: #a4a4a4;
}

.contact-form .single-form textarea::-moz-placeholder,
.contact-form .single-form input::-moz-placeholder {
  opacity: 1;
  color: #a4a4a4;
}

.contact-form .single-form textarea::-webkit-input-placeholder,
.contact-form .single-form input::-webkit-input-placeholder {
  opacity: 1;
  color: #a4a4a4;
}

.contact-form .single-form textarea {
  height: 160px;
  padding-top: 15px;
  resize: none;
}

.contact-form .single-form .main-btn {
  border-radius: 50px;
  background-color: #0067f4;
  color: #fff;
}

.contact-form .single-form .main-btn:hover {
  background-color: #005ad5;
}

.list-unstyled li {
  font-size: 13px;
  margin-left: 2px;
  margin-top: 5px;
  color: #f00;
}

/*===========================
       7.FOOTER css 
===========================*/
.footer-area {
  width: auto;
  border-radius: 44px;
  background: #FACAD2;
  box-shadow: inset 13px 13px 67px #bc989e,
              inset -13px -13px 67px #fffdff;
}

.footer-widget {
  padding-top: 20px;
  padding-bottom: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-widget {
    padding-top: 70px;
    padding-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .footer-widget {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}


.footer-logo-support .footer-logo .social li a {
  font-size: 24px;
  color: #6c6c6c;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.footer-logo-support .footer-logo .social li a:hover {
  color: #0067f4;
}

.footer-logo-support .footer-support span {
  font-size: 20px;
  line-height: 25px;
  color: #6c6c6c;
  font-weight: 600;
}

@media (max-width: 767px) {
  .footer-logo-support .footer-support span {
    display: block;
  }
}

.footer-logo-support .footer-support span.mail {
  margin-left: 32px;
}

@media (max-width: 767px) {
  .footer-logo-support .footer-support span.mail {
    margin-left: 0;
  }
}

.footer-title {
  font-family: "IRANSansWeb";
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #6c6c6c;
}

.footer-link {
  margin-top: 20px;
}

.footer-link ul {
  margin-top: 8px;
}

.footer-link ul li a {
  font-size: 16px;
  line-height: 20px;
  color: #121212;
  margin-top: 16px;
  margin-bottom: 20px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.footer-link ul li a:hover {
  color: #f67280;
}


.footer-copyright {
  border-radius: 44px ;
background: #2b354f;
box-shadow:  27px 27px 55px #20283b,
             -27px -27px 55px #364263;
             margin-bottom: 10px;
             
}

.copyright {
  padding: 23px 0;
}

.copyright .text {
  color: #fff;
}

.back-to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  background-color: #f67280;
  bottom: 10px;
  left: 20px;
  z-index: 999;
  color: #fff;
  font-size: 22px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.back-to-top:hover {
  background-color: #fe4365;
  color: #fff;
}

.swiper-container {
  width: auto;
  height: auto;
  position: absolute;
  margin: 40px 50px;

}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}



/* loader */
.preloader-h1-sajjeo {
  display: block;
  position: relative;
  font-size: 6rem;
  text-align: center;
  top: 58%;
  margin: auto;
  color: #fff;
  text-shadow: none;
  z-index: 9999;

}

.preloader-h2-sajjeo {
  font-size: 70px;
  margin-bottom: 0;
  top: 77%;
  position: absolute;
  display: block;
  position: relative;
  font-size: 4rem;
  text-align: center;
  top: 58%;
  color: #717171;
  text-shadow: none;
  z-index: 9999;
}

.preloader-h1-sajjeo {
  display: block;
  position: relative;
  font-size: 6rem;
  text-align: center;
  top: 58%;
  margin: auto;
  color: #fff;
  text-shadow: none;
  z-index: 9999;
}

.preloader-h2-sajjeo {
  font-size: 70px;
  margin-bottom: 0;
  top: 77%;
  position: absolute;
  display: block;
  position: relative;
  font-size: 4rem;
  text-align: center;
  top: 58%;
  color: #717171;
  text-shadow: none;
  z-index: 9999;
}


#loader {
  display: block;
  position: inherit;
  top: 33%;
  left: 50%;
  /* transform: translate(-66%, 10%); */
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-top-color: #fff;
  border-radius: 100%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
  z-index: 9999999;

}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid transparent;
  border-top-color: #F79722;
  border-radius: 100%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  border: 4px solid transparent;
  border-top-color: #939598;
  border-radius: 100%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.preloader-h1-sajjeo {
  width: 20% !important;

}

.preloader-h2-sajjeo {
  opacity: 0.3;
  font-size: 60px;
  top: 400px;

}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background: #e0e0e0;
  visibility: visible;
  opacity: 1;
  transition: all 0.1s ease;
  z-index: 99999999999999;
  transition: all 0.9s ease;

}

.preloader_inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 4em;
  height: 4em;
  line-height: 4em;
  text-align: center;
  font-size: 3em;
  font-family: monospace;
  font-weight: 300;
  color: #fa8b03;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
  transition: all 0.5s ease;
  z-index: 99999999999999999999 !important;
}

.opacity-sajjeo {
  opacity: 0 !important;
  z-index: 0 !important;
}



.main-img {
  display: inline;
  margin-right: 450px;
  margin-top: -450px;
  animation: Bounce_1 3s ease infinite;
}

.main-img1 {

  display: inline;
  opacity: 0.9;
  margin-right: 1000px;
  margin-top: -900px;
  animation: Bounce_2 6s ease infinite;
}

.main-img2 {
  display: inline;
  width: 300px;
  height: 300px;
  margin-right: 890px;
  margin-top: -450px;
  animation: Bounce_1 8s ease infinite;
}

.main-img3 {

  display: inline;
  margin-right: 850px;
  margin-top: -160px;
  animation: shine_1 3s ease infinite;
}

@keyframes Bounce_1 {

  0%,
  100% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(0px);
  }
}

@keyframes Bounce_2 {

  0%,
  100% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(50deg);
  }
}


@keyframes shine_1 {
  0% {
    filter: sepia(100%);
  }

  50% {
    filter: sepia(20%);
  }

  100% {
    filter: sepia(100%);
  }
}

mark {
  color: #F7941D !important;
  background-color: #6c6c6c !important;
  border-radius: 20px !important;
}

.school-honors h3,
.school-poeple {
  font-family: "IRANSansWeb";
}

.school-poeple {
  /* margin-right: 800px;
  margin-top: -400px; */
  margin: auto;

}

.poeple-div {
  margin-right: 250px;
  margin-top: 100px;
}

.icon-style {
  color: #F7941D;
  border-radius: 46px;
  background: linear-gradient(145deg, #616161, #747474);
  box-shadow: 40px 40px 80px #3f3f3f,
    -40px -40px 80px #999999;

}

.carousel-inner img {
  border-radius: 0px 0px 5px 5px;
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "IRANSansWeb";

}

#typing {
  text-align: center;
  font-weight: 800;
  font-size: 18px;
}


.title {
  text-align: center;
  margin-bottom: 30px;
  color: #FF8F00;
  font-weight: 300;
  letter-spacing: 1px;
}

.description {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

input[type=text],
input[type=email] {
  padding: 10px 20px;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
}

input[type=text]:focus,
input[type=email]:focus {
  border-color: #FF6F00;
}

input[type=radio] {
  margin-right: 10px;
}

label {
  margin-bottom: 20px;
  display: block;
  font-size: 18px;
  color: #666;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  cursor: pointer;
}

label:first-child {
  margin-bottom: 0;
  border-bottom: none;
}

.button,
.rerun-button {
  padding: 10px 20px;
  border-radius: 3px;
  background: #FF6F00;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
}

.button:hover,
.rerun-button:hover {
  background: #e66400;
}

.button.rerun-button,
.rerun-button.rerun-button {
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
  display: none;
}

.text-center {
  text-align: center;
}

.modal-wrap {
  max-width: 600px;
  margin-bottom: 100px;
  transition: transform 300ms ease-in-out;

}

.modal-header {
  height: 45px;
  background: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px 0px 0px;

}

.modal-header span {
  display: block;
  height: 12px;
  width: 12px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}

.modal-header span.is-active {
  background: rgba(0, 0, 0, 0.4);
  background: #FF8F00;
}

.modal-bodies {
  position: relative;
  perspective: 1000px;
}

.modal-body {
  background: #e0e0e0;
  padding: 40px 100px;
  box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  position: absolute;
  top: 0;
  display: none;
  box-sizing: border-box;
  width: 100%;
  transform-origin: top left;
  border-radius: 0px 0px 30px 30px;

}

.modal-body.is-showing {
  display: block;
}

.animate-out {
  -webkit-animation: out 600ms ease-in-out forwards;
  animation: out 600ms ease-in-out forwards;
}

.animate-in {
  -webkit-animation: in 500ms ease-in-out forwards;
  animation: in 500ms ease-in-out forwards;
  display: block;
}

.animate-up {
  transform: translateY(-500px) rotate(30deg);
}

@-webkit-keyframes out {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  60% {
    transform: rotate(60deg);
  }

  100% {
    transform: translateY(800px) rotate(10deg);
  }
}

@keyframes out {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  60% {
    transform: rotate(60deg);
  }

  100% {
    transform: translateY(800px) rotate(10deg);
  }
}

@-webkit-keyframes in {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes in {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}




.listitems {
  text-align: right !important;
  list-style-type: disc !important;
}



/* card news */
.card .menu-content {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.card .menu-content::before,
.card .menu-content::after {
	content: '';
	display: table;
}

.card .menu-content::after {
	clear: both;
}

.card .menu-content li {
	display: inline-block;
}

.card .menu-content a {
	color: #fff;
}

.card .wrapper-new {
	background-color: #fff;
	height: 20rem;
	width: 100%;
	position: relative;
	overflow: hidden !important;
}

.card .wrapper-new:hover .data {
	transform: translateY(65%);
	-webkit-transform: translateY(65%);
	-moz-transform: translateY(65%);
	-ms-transform: translateY(65%);
	-o-transform: translateY(65%);
}

.card .data {
	width: 100%;
	transform: translateY(10%);
	transition: transform 0.3s;
	-webkit-transform: translateY(10%);
	-moz-transform: translateY(10%);
	-ms-transform: translateY(10%);
	-o-transform: translateY(10%);
	box-shadow: 0px 7px 10px rgb(0 0 0 / 50%) !important;
}

.card .data .content {
	padding: 1em;
	position: relative;
	z-index: 1;
	text-align: right !important;
	background-color: #fff;
	color: #000;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2) !important;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.card .author {
	font-size: 12px;
}

.card .title {
	margin-top: 10px;
	width: 100%;
}

.card .text {
	height: 70px;
	margin: 0;
}

.card input[type='checkbox'] {
	display: none;
}

.card-news {
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2) !important;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	width: 350px;

}

.card-news .image-news-1 {
  background: url(../images/img/dialog-content-image-1.jpg) center / cover no-repeat;
}

.card-news .image-news-2 {
  background: url(../images/img/dialog-content-image-2.webp) center / cover no-repeat;
}

.card-news .image-news-3 {
  background: url(../images/img/dialog-content-image-3.webp) center / cover no-repeat;
}

.card-news .header::before,
.card-news .header::after {
	content: '';
	display: table;
}

.card-news .header::after {
	clear: both;
}

.card-news .header .date {
	float: left;
	font-size: 12px;
}

.card-news .content a {
	text-decoration: none !important;
}


.card-news .menu-content {
	float: right;
}

.card-news .menu-content li {
	margin: 0 5px;
	position: relative;
}

.card-news .data {
	transform: translateY(10.5rem);
	-webkit-transform: translateY(10.5rem);
	-moz-transform: translateY(10.5rem);
	-ms-transform: translateY(10.5rem);
	-o-transform: translateY(10.5rem);
}

.card-news .button {
	display: block;
	width: 100px;
	margin: 2em auto 1em;
	text-align: center;
	font-size: 12px;
	line-height: 1;
	position: relative;
	font-weight: 700;
}

.card-news .button::after {
	content: '\2192';
	opacity: 0;
	position: absolute;
	right: 15px;
	color: #000 !important;
	top: 50%;
	transform: translate(0, -50%);
	transition: all 0.3s;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
}

.card-news .read-btn {
	transform: translateY(150%);
	-webkit-transform: translateY(150%);
	-moz-transform: translateY(150%);
	-ms-transform: translateY(150%);
	-o-transform: translateY(150%);
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	visibility: hidden;
	text-decoration: none;
}

.card .wrapper-new:hover .read-btn {
	transform: translateY(200%);
	-webkit-transform: translateY(200%);
	-moz-transform: translateY(200%);
	-ms-transform: translateY(200%);
	-o-transform: translateY(200%);
	visibility: visible;
}


/* modal styels */
#backCover.open {
  opacity: 1;
  visibility: visible;
  transition: opacity .3s ease-out;
  -webkit-transition: opacity .3s ease-out;
  z-index: 999;
  height: auto;
}

.dialog-info {
  background: rgb(230, 230, 230);
  padding: 20px;
  width: 100%;
  float: left;
}

.dialog-info .title {
  float: left;
  width: 100% !important;
  color: #828282;
  text-align: center;
  width: 100%;
}

.dialog-info .dialog-info-buttons {
  float: right;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.dialog-info .dialog-info-buttons .mcbutton {
  margin-top: 20px;
}

.dialogCorso {
  opacity: 0;
  visibility: hidden;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  background: #fff;
  border-radius: 8px;
  z-index: 999999999999999 !important;
  width: 80%;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  text-align: left;
  top: 60%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -webkit-box-shadow: 0px 6px 6px 0px rgba(187, 187, 187, 0.50);
  -moz-box-shadow: 0px 6px 6px 0px rgba(187, 187, 187, 0.50);
  box-shadow: 0px 6px 6px 0px rgba(187, 187, 187, 0.50);
  font-size: 12px;
  font-family: Panton_Bold;
  max-width: 830px;
  max-height: 90vh;
  overflow: scroll;
}

.dialogCorso .row .title {
  display: inline;
}

@media screen and (max-width: 650px) {

  #news img {
      max-width: 50%;
  }
}

.dialog-content {
  padding: 30px;
}

.dialogCorso .sponsor {
  border: 5px solid rgb(230, 230, 230);
}

.dialogCorso .sponsor img {
  width: 100%;
  height: auto;
}

.dialogCorso p {
  font-size: 12px;
  color: #000 !important;
}

.dialogCorso.open {
  opacity: 1;
  visibility: visible;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  top: 50%;
  z-index: 999;
}

.dialogCorso .dialog-text {
  width: 100%;
  font-size: 20px;
  text-align: right;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 10px;

}

.dialogCorso .close {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  color: #fc0000;
  font-size: 40px;
}

.dialogCorso .row {
  margin-top: 35px;
}

.dialog-contentcontent {
  margin-top: 10px;
}

.dialog-left {
  padding-left: 0 !important;
}

.dialog-right {
  padding-right: 0 !important;
}

.dialog-right {
  padding-left: 0;
}

.dialog-contentcontent a {
  color: #007bff;
  text-decoration: underline;
}

.dialog-contentcontent ul {
  list-style: none;
}

.news-title{
  font-family: "IRANSansWeb";
  font-size: 44px;
}
.news-section{
  margin-top: 100px;
  padding: 100px;
  border-radius: 55px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  33px 33px 66px #aaaaaa,
               -33px -33px 66px #ffffff;
}
.news-section .img-news0{
   position: relative;
   margin-left: 420px !important;
}
 /* end of modal styels */

 .last-imgs img{
   max-width: 100%;
   height: auto;
 }



.navbar-social{
  align-items: center;
  margin: auto;
}
.navbar-social h2{
  font-family: "IRANSansWeb";
  font-size: 35px;
  font-weight: 700;
  line-height: 18px;
  color: #6c6c6c;
}


/*  photo-gallery */

.photo-gallery {
  border-radius: 50px;
  background: linear-gradient(145deg, #ffd8e1, #e1b6bd);
  box-shadow:  34px 34px 68px #b28f95,
               -34px -34px 68px #ffffff;
}

.photo-gallery p {
  color:#7d8285;
}
.photo-gallery img{
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='39' height='47' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='50%'>🔍</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:18px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}

.Bulletin{
    margin-top: 60px;
    position: relative;
    display: inline-block;

}
.Bulletin img{
  margin-left: 230px;
}
.Bulletin h2{
  position: absolute;
  z-index: 90;
  margin: 0 auto;
  right: 0;
  left: 190px;
  top: 35%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 65%; /* Set the width of the positioned div */
  animation:colorchange 10s infinite alternate;
}


@keyframes colorchange {
  0% {
    
    color: #CDB4DB;
  }
  
  10% {
    
    color: #FFC8DD;
  }
  
  20% {
    
    color: #FFAFCC;
  }
  
  30% {
    
    color: #BDE0FE;
  }
  
  40% {
    
    color: #A2D2FF;
  }
  
  50% {
    
    color: #CDB4DB;
  }
  
  60% {
    
    color: #FFC8DD;
  }
  
  70% {
    
    color: #FFAFCC;
  }
  80% {
 
    color: #BDE0FE;
  }
  
  90% {
 
    color: #A2D2FF;
  }
  
  100% {
    
    color: #FFC8DD;
  }
}

/* card slider */
.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  direction: ltr !important;
  text-align: right;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
 }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
 }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
 }
}
.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
 }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
 /* background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
 */
 /* background: linear-gradient(147deg, #74c4c6 0%,#5bb9b3 74%);
 */
  background: #fff;
  background-size: contain;
 /* background: linear-gradient(147deg, rgb(41, 77, 76) 0%, rgb(90, 185, 179) 74%);
  */
 /* box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
 */
  box-shadow: -9px 2px 7px 2px #37ada9 17;
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 /* background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
 */
 /* background: linear-gradient(147deg, rgb(90, 185, 179) 0%, rgb(41, 77, 76) 74%);
  */
  border-radius: 20px;
  opacity: 0.8;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
 }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
 }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
 }
}
.blog-slider__content {
  padding-right: 80px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 25px;
 }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
   padding-right: 25px;
 }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.blog-slider__button {
  display: inline-flex;
 /* background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
 */
  background: #f67280;
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
 /* box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
 */
  box-shadow: 0px 14px 80px #FACAD2 40;
  text-decoration: none;
  font-weight: 500;
  justify-content: right;
  text-align: center;
  letter-spacing: 1px;
}
.blog-slider__button:hover{
  color: #1b1c1d !important;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
 }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: right;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
 }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
 }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #1b1c1d;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
 /*background: #fd3838;
 */
  background: #f67280;
  height: 30px;
 /*box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
 */
  box-shadow: 0px 14px 80px #FACAD2 40;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
 }
}

/* ------ Testimonials Section------ */
.testimonials {
  background-color: #FFAFCC;
}

.testimonial-item {
  margin: 15px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  text-align: center;
}

.testimonial-item .img-box {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-bottom: 30px;
  border: 4px solid #fe4365;
  border-radius: 50%;
  position: relative;
}

.testimonial-item .img-box img {
  border-radius: 50%;
  width: 100%;
}

.testimonial-item .img-box i {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #fe4365;
  border-radius: 50%;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  left: calc(100% - 15px);
  top: calc(50% - 15px);
}

.testimonial-item p {
  font-size: 16px;
  margin: 0 0 20px;
  color: #1b1c1d;
  line-height: 26px;
  font-weight: 300;
  direction: rtl;
}

.testimonial-item h3 {
  font-size: 22px;
  color: #1b1c1d;
  font-weight: 500;
  margin: 0 0 5px;
  text-transform: capitalize;
}

.testimonial-item span {
  display: block;
  font-size: 16px;
  color: #000;
  font-weight: 300;
}

.testimonial-item .rating {
  margin-top: 10px;
}

.testimonial-item .rating i {
  display: inline-block;
  font-size: 16px;
  color: yellow;
}

/* map */
.mapContainer iframe{

  border-radius: 64px;
}
.mapContainer{
  margin-top: 20px;
  padding: 20px;
  border-radius: 64px;
  background: #d5acb3;
  box-shadow: inset -26px 26px 53px #bb979e,
              inset 26px -26px 53px #efc1c8;
}
.address-div{
 padding-top: 10px;
 padding-left: 25px;
 padding-right: 25px;
 padding-bottom: 40px;
  text-align: right;
  border-radius: 50px;
background: linear-gradient(145deg, #c09ba1, #e4b8c0);
box-shadow:  12px 12px 24px #bb979e,
             -12px -12px 24px #efc1c8;
             line-height: 40px;
}

.card__title {
  color: #000 !important;
  font-weight: 600;
  margin-bottom: .25rem;
}
